<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} - {% endif %}Threads of Hybridity</title>
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10" defer></script>
    <script src="/js/main.js" defer></script>
</head>
<body>
    {% include "header.njk" %}
    <main id="content">
        {{ content | safe }}
    </main>
    {% include "footer.njk" %}
</body>
</html>