<footer>
    <div class="footer-left">
        <p>© 2024 EMI FUKUOKA</p>
    </div>
    <div class="footer-right">
        <p><a href="https://www.linkedin.com/in/emifukuoka">LinkedIn</a></p>
    </div>
</footer>