<header>
    <h1>Threads of Hybridity</h1>
    <nav>
        <ul>
            <li><a href="/" data-page="about">About</a></li>
            <li><a href="/collection/" data-page="collection">Collection</a></li>
            <li><a href="/exhibits/" data-page="exhibits">Exhibits</a></li>
            <li><a href="/contact/" data-page="contact">Contact</a></li>
        </ul>
    </nav>
</header>